name: Go

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        GO_VERSION: ['1.25', '1.24', '1.23', '1.22', '1.21', '1.20']
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.GO_VERSION }}
    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v9
    - name: Build
      run: |
        go build -v ./...
    - name: Test
      run: |
        go test -race -v ./...
  coverage:
    needs:
    - build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'
    - name: Coverage
      run: |
        go test -race -v \
          -coverpkg=./... -coverprofile=coverage.out -covermode=atomic ./...
    - name: Upload to codecov
      uses: codecov/codecov-action@v5
